<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/global/tom-select.bootstrap5.css}" rel="stylesheet">
    <link th:href="@{/css/global/bootstrap.min.css}" rel="stylesheet">
    <title>Каталог авторов</title>
</head>
<body>

<div th:include="navbar"></div>

<div class="container mt-5">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#editAuthorModal">
        Добавить автора
    </button>

    <div class="row">
        <div th:each="author : ${authors}" class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${author.name}"></h5>
                    <button sec:authorize="hasAnyAuthority('LIBRARIAN','MANAGER')" type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteAuthorModal" th:data-author-id="${author.id}">
                        Удалить
                    </button>
                    <button sec:authorize="hasAnyAuthority('LIBRARIAN','MANAGER')" type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#editAuthorModal" th:data-author-id="${author.id}">
                        Редактировать
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Редактирование и добавление -->
<div sec:authorize="hasAnyAuthority('LIBRARIAN','MANAGER')" class="modal fade" id="editAuthorModal" tabindex="-1" aria-labelledby="editAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAuthorModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="editAuthorForm">
                    <input type="hidden" th:name="id" id="edit-author-id">
                    <div class="mb-3">
                        <label for="edit-author-name" class="form-label">Имя автора</label>
                        <input type="text" class="form-control" id="edit-author-name" th:name="name" required>
                        <div id="nameErrorLabel" class="invalid-feedback"></div>
                    </div>
                    <button type="submit" class="btn btn-warning">Сохранить изменения</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Удаление -->
<div sec:authorize="hasAnyAuthority('LIBRARIAN','MANAGER')" class="modal fade" id="deleteAuthorModal" tabindex="-1" aria-labelledby="deleteAuthorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAuthorModalLabel">Удалить автора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить автора?</p>
                <p id="deleteAuthorName"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <a class="btn btn-danger" id="deleteAuthorButton">Удалить</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/global/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/global/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/global/tom-select.complete.min.js}"></script>
<script th:src="@{/js/global/popper.min.js}"></script>
<script sec:authorize="hasAnyAuthority('LIBRARIAN','MANAGER')" th:src="@{/js/authors-mng.js}"></script>
</body>
</html>
